*{
  padding: 0;
  margin: 0;
}
.App{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.chessboard{
  display: flex;
  flex-wrap: wrap;
  width: calc(5em*8);
  line-height: calc(5em*8);
}

.cell {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

.cell_black{
  background-color: #000000;
}
.cell_white{
  background-color: #f8e8c5;
}